*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: courier;
}

body{
    height: 100vh;
    background-image: url(https://img5.pic.in.th/file/secure-sv1/pawel-czerwinski-9lNoGFaNI2c-unsplash.jpeg);
    background-size: cover;
    background-position: center;
}

.logo{
    color: #f5c42b;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin-left: -310px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a:hover{
    color: #fcbf04;
}

/* Header */
header{
    position: relative;
    padding: 0 2rem;
    background-color: #393939;
    height: 70px;
    width: 100%;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu{
    display: flex;
    gap: 3rem;
}

.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.toggle_btn{
    color: white;
}

/* Submenu */
header ul .submenu {
    position: absolute;
    width: 170px;
    background-color: #393939;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
    text-align: left;
}

header ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

header ul .submenu li {
    margin: 0;
    width: 100%;
}

header ul .submenu li a {
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
    font-size: 15px;
}

/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #393939;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 280px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reportdd{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
}


/* Responsive design */
@media (max-width: 992px)  {
    .navbar .menu{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .logo{
        margin-left: -120px;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px)  {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    
    .logo{
        font-size: 25px;
    }

}

@media (max-width: 400px)  {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    
    .logo{
        font-size: 20px;
    }

}


