*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Oswald, sans-serif;    
    overflow-x: hidden;
    color: #42424A;
}


label.namearr {
    color: #f5c42b;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin-left: -330px;
    text-shadow: 2px 2px #444444;
  }
  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 249px;
}

header ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}

header ul li:last-child {
    margin-right: -90px;
}

header ul li a{
    text-decoration: none;
    color: #42424A;
    padding: 15px 0;
    display: inline-block;
    transition: all ease 0.5s;
    font-size: 18px;
}

header ul li a:hover {
    color: #f7b90c;
}


/* Style Submenu */
header ul .submenu {
    position: absolute;
    width: 150px;
    background-color: #ffffff;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
}

header ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

header ul .submenu li {
    margin: 0;
    width: 100%;
}

header ul .submenu li a {
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}

section{
    background: url(https://img5.pic.in.th/file/secure-sv1/daria-shevtsova-zbWFT4eVopE-unsplash.jpeg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }